<section class="reviews reviews--light section js-reviews-carousel">
    <div class="reviews__site-container reviews__site-container--padding">
        <div class="reviews__body reviews__body--padding">
            <div class="reviews__grid {{#if caseMainSection}}reviews__grid--simple-mobile{{/if}} ">
                <div class="reviews__heading reviews__heading--flex">
                    <div class="reviews__pagination">1 / 8</div>
                    <h2 class="reviews__title">
                        Отзывы
                    </h2>
                </div>

                <div class="reviews__main">
                    {{#if reviews}}
                    <div class="reviews__text-swiper swiper">
                        <ul class="reviews__text-swiper-wrapper swiper-wrapper">
                            {{#each reviews}}
                            <li class="reviews__text-swiper-slide reviews__text-swiper-slide--lite swiper-slide">
                                <div class="reviews__author">
                                    <div class="reviews__author-image">
                                        <picture>
                                            <source type="image/webp" srcset="./img/formats/{{{this.imageJpg}}}.webp" />
                                            <img class="lazy" src="./img/formats/{{{this.imageJpg}}}.jpg" alt="">
                                        </picture>
                                    </div>

                                    <div class="reviews__author-column">
                                        <h3 class="reviews__text-name">{{this.name}}</h3>
                                        <p class="reviews__text-role">{{this.role}}</p>
                                    </div>
                                </div>

                                <div class="reviews__text _element-collapsed">
                                    <button type="button" class="reviews__expand-btn expand-btn"
                                        data-forward="(читать дальше)" data-backward="(скрыть)">
                                    </button>
                                    <p>
                                        {{this.text}}
                                    </p>
                                </div>

                                <div class="reviews__basement reviews__basement--hidden">
                                    <p class="reviews__status">Отзыв клиента</p>
                                    <p class="reviews__year">2024</p>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    {{/if}}

                    <div class="reviews__controls reviews__controls--single">
                        <button class="reviews__next-btn reviews-next-btn">
                            <img class="lazy" src="./img/formats/arrow.png" alt="">
                        </button>
                        <button class="reviews__next-btn reviews__next-btn--prev reviews-prev-btn">
                            <img class="lazy" src="./img/formats/arrow.png" alt="">
                        </button>
                    </div>
                </div>

                <div class="reviews__gallery">
                    {{#if reviews}}
                    <div class="reviews__gallery-swiper swiper">
                        <ul class="reviews__gallery-swiper-wrapper swiper-wrapper">
                            {{#each reviews}}
                            <li class="reviews__gallery-swiper-slide swiper-slide image-slide">
                                <picture>
                                    <source media="(min-width: 1201px)" type="image/webp"
                                        srcset="./img/formats/{{{this.imageJpg}}}.webp" />
                                    <source media="(min-width: 1201px)"
                                        srcset="./img/formats/{{{this.imageJpg}}}.jpg" />
                                    <source media="(min-width: 743px)" type="image/webp"
                                        srcset="./img/formats/{{{this.imageJpgT}}}.webp" />
                                    <source media="(min-width: 743px)"
                                        srcset="./img/formats/{{{this.imageJpgT}}}.jpg" />
                                    <source type="image/webp" srcset="./img/formats/{{{this.imageJpgM}}}.webp" /><img
                                        class="lazy" src="./img/formats/{{{this.imageJpgM}}}.jpg" alt="">
                                </picture>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</section>
